body {
  margin: 0;
  overflow: scroll !important;
}

.header {
  background-image: url('../images/main.jpg');
  background-size: 1400px;
  background-repeat: no-repeat;
}

.navbar-brand img {
  width: auto;
  height: 54px;
}

.nav-link {
  font-weight: bold;
  font-size: 25px;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.subhead {
  text-align: center;
}

.subhead h1 {
  margin: 7% 0;
  font-weight: bold;
  font-size: 70px;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.subhead button {
  margin-bottom: 7%;
  color: white;
  font-weight: bold;
}

.nav-item:hover {
  background-color: #ffc107;
  border-radius: 25px;
  transition: 1s;
}

.content1 {
  text-align: center;
}

.content1 h2 {
  margin-top: 100px;
  background-color: #ffc107;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 20px;
  font-weight: bold;
  color: white;
}

.row {
  margin: 0 4%;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  transition: 1s;
}

.list-article{
  margin: 2% 5%;
}